<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807130592680-rjal7j8qtrskbofgmra68q3c71vt34jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807130592680-rjal7j8qtrskbofgmra68q3c71vt34jo</string>
	<key>API_KEY</key>
	<string>AIzaSyBkFzWO-H3JheB_sq-PjMZC7rvJjARMR3E</string>
	<key>GCM_SENDER_ID</key>
	<string>807130592680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrickkoszewski.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait282</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807130592680:ios:3150014314a532c709599d</string>
</dict>
</plist>